body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  background-color: lavender;
}

.flex-container {
  width: 530px;
  margin: 30px 0 0 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 7px;
  background-color: lavenderblush;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
}

.label-and-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input {
  margin: 7px;
  padding: 4px;
}

button {
  margin: 20px;
  padding: 5px;
  background-color: lightpink;
  border-radius: 7px;
  border: 1px solid black;
}

.nuova-media {
  display: none;
}